/* Remove space on top of page */
body {
    margin: 0;
}
h1 {
    margin-top: 0; 
}
/* Stretch background mage to full height of screen */
html {
    height: 100%;
}
body {
    height: 100%;
}
/* Add images based on current weather */
#weather-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
}
.weather-text {
    margin: 0 auto;
    max-width: 600px;
}
.sunny {
    background-image: url(../img/sunny.jpg);
}
.cloudy {
    background-image: url(../img/cloudy.jpg);
}
.rainy {
    background-image: url(../img/rainy.png);
}
.stormy {
    background-image: url(../img/stormy.jpg);
}
.clear {
    background-image: url(../img/clear.jpg); 
}
.snowy {
    background-image: url(../img/snowy.jpg); 
}
.foggy {
    background-image: url(../img/foggy.png);
}