#weather-background {
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.sunny {
    background-image: url(../img/sunny.jpg);
}
.cloudy {
    background-image: url(../img/cloudy.jpg);
}
.rainy {
    background-image: url(../img/rainy.png);
}
.stormy {
    background-image: url(../img/stormy.jpg);
}