/* Remove space on top of page */
body {
    margin: 0;
}
h1.title {
    margin-top: 0; 
    margin-bottom: 0;
    padding-bottom: 25px;
    padding-top: 25px;
}
/* Stretch background image to full height of screen */
html {
    height: 100%;
}
body {
    height: 100%;
}
/* Make text readable on all background images */
.wrapper {
    height: 100%;
    color: white;
    text-shadow: 0px 1px 3px #2b2b2b;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* Add images based on current weather */
#weather-background {
    background-image: linear-gradient(#c1d5ea, #6d9bce); /* When the user first sees the app, before they get the weather-specific image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
}
.weather-text {
    margin: 0 auto;
    max-width: 600px;
}
#weather-background.sunny {
    background-image: url(../img/sunny.jpg);
}
#weather-background.cloudy {
    background-image: url(../img/cloudy.jpg);
}
#weather-background.rainy {
    background-image: url(../img/rainy.png);
}
#weather-background.stormy {
    background-image: url(../img/stormy.jpg);
}
#weather-background.clear {
    background-image: url(../img/clear.jpg); 
}
#weather-background.snowy {
    background-image: url(../img/snowy.jpg); 
}
#weather-background.foggy {
    background-image: url(../img/foggy.png);
}
/* Input field and submit button */
input#location {
    padding: 10px;
    color: #000;
    font-size: 20px;
    width: 250px;    
}
input#submit {
    margin-left: 15px;
    padding: 10px;
    background-color: #75757b;
    font-size: 20px;
    font-family: inherit;
    border-radius: 15px;
    color: #fff;
    border: 2px solid #ffffffc9;
    cursor: pointer;
}
/* Current weather table */
.current-weather table {
    margin: 0 auto;
    max-width: 300px;
    max-height: 300px;
    border-spacing: 0;
}
.current-weather table td {
    width: 200px;
    height: 30px;
    box-sizing: border-box;
    text-align: left;
}
.current-weather table td span {
    margin: 0 5px;
}
.temperature {
    font-size: 50px;
    text-align: center;
}
/* Hide weather data until after API call */
.hidden {
    display: none;
}
/* Forecast table: Created using flexbox for mobile-first responsive design */
div[class^="flex-container"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
div[class^="flex-container"] .cell {
    padding: 10px;
    border: 1px solid #ffffff36;
    border-radius: 3px;
    background-color: #638ebe7a;
    width: 35%;
}
div[class^="flex-container"] .heading-cell {
    background-color: #75757b96;
}

/* Responsive design: medium/large viewport */
@media only screen and (min-width: 768px) {
    div[class^="flex-container"] {
        max-width: 75%;
    }
    div[class^="flex-container"] .cell {
        width: 10%;
    }
    div[class^="flex-container"] .heading-cell {
        order: 0;
    }
    div[class^="flex-container"] .value-cell {
        order: 1;
    }
    /* Hide headings on all but first flex-box */
    div[class^="flex-container"] .heading-cell {
        display: none;
    }
    div.flex-container-1 .heading-cell {
        display: block;
    }
}